body {
	font-family:helvetica,sans-serif;
}
#top {
	position:fixed;
	top:0;
	left:0;
	margin:0;
	width:100%;
	height:110px;
	background-color:#214252;
	color:white;
}
#menu {
	position:absolute;
	left:5px;
	top:5px;
}
#menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#top a:link, #top a:visited {
	color:#FFFFFF;
}    
#top a:hover, #top a:active {
	color:#66A3D3;
}     
#menu li {
	display:inline;
	margin-right:10px;
}
#login {
	position:absolute;
	right:5px;
	top:5px;
}
#content {
	clear:both;
	position:fixed;
	top:120px;
	left:10px;
}
#auctions {
	width:800px;
	height:500px;
	overflow:auto;
}
#auctions table, #auctions th, #auctions td {
	border:1px solid #66A3D3;
}
#auctions table {
	margin:15px auto;
	border-collapse:collapse;
	width:100%;
}
#auctions td{
	color:#678197;
	padding:4px 15px;
	text-align:center;
}		
#auctions tr:nth-child(odd) {
	background:#E6EBF5
}
#auctions th {
	text-align:center;
	color:#66A3D3;
	padding:5px;
}