<!DOCTYPE html>
<html>
<head>
    <title>YAAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer="defer" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <script defer="defer" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="col-md-6">
        <form class="form-horizontal" action="/YAAS/create_auction/" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Create a new auction</legend>
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Create auction">
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>