{% extends "base.html" %}

{% block title %}YAAS - {{ user.username }}{% endblock %}

{% block content %}
    <div class="col-md-5">
        <form class="form-horizontal" action="/YAAS/user/" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Edit user</legend>
                <p><b>User ID: </b> {{ user.id }}</p>
                <p><b>Name: </b>{{ user.get_full_name }}</p>
                <p><b>Username: </b> {{ user.username }}</p>
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Save">
            </fieldset>
        </form>
    </div>
{% endblock %}