<!DOCTYPE html>
<html>
<head>
    <title>YAAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer="defer" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <script defer="defer" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="row">
        <form class="form-inline pull-right" id="formSearch">
            <div class="form-group pull-left">
                <input type="text" class="form-control" name="searchCriteria" placeholder=" Search criteria">
            </div>
            <input type="submit" class="btn btn-primary pull-right" value="Search">
        </form>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Auction title</th>
                <th>Category</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
            </thead>
            <tbody>
            {% for a in auctions %}
                <tr>
                    <td><a href="/YAAS/view_auction/{{ a.id }}/">{{ a.name }}</a></td>
                    <td>{{ a.category }}</td>
                    <td>{{ a.startDate }}</td>
                    <td>{{ a.endDate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>