{% extends "base.html" %}

{% block title %}YAAS - {{ auction.name }}{% endblock %}

{% block content %}
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ auction.name }}</h3>
            </div>
            <div class="panel-body">
                <p><b>Auction ID:</b> {{ auction.id }}</p>
                <p><b>Category:</b> {{ auction.category }}</p>
                <p><b>Start date:</b> {{ auction.startDate }}</p>
                <p><b>End date:</b> {{ auction.endDate }}</p>
            </div>
        </div>
    </div>
{% endblock %}