<!DOCTYPE html>
<html>
<head>
    <title>{{ auction.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer="defer" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <script defer="defer" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ auction.name }}</h3>
            </div>
            <div class="panel-body">
                <p><b>Auction ID:</b> {{ auction.id }}</p>
                <p><b>Category:</b> {{ auction.category }}</p>
                <p><b>Start date:</b> {{ auction.startDate }}</p>
                <p><b>End date:</b> {{ auction.endDate }}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>